<header>
    <div class="header-details">
        <div class="humberger-menu" id="menu-open">
            <span></span>
        </div>
        <div class="logo"><a routerLink="home"><img src="assets/images/logo.png" alt=""></a></div>
    </div>

    <div class="side-menu">
        <div class="logo"><a routerLink="home"><img src="assets/images/logo.png" alt=""></a></div>
        <div class="menu-details">
            <ul class="details">
                <li><a routerLinkActive="active" routerLink="/home">home</a></li>
                <li><a routerLinkActive="active" routerLink="/about">about us</a></li>
                <li><a routerLinkActive="active" routerLink="/services">services</a></li>
                <li><a routerLinkActive="active" routerLink="/projects">lastest projects</a></li>
                <li><a routerLinkActive="active" routerLink="/reviews">our reviews</a></li>
                <li><a routerLinkActive="active" routerLink="/contact">contact</a></li>
            </ul>
        </div>        
    </div>

</header>
