$primaryColor: #014fb4;
$primaryColorDark: #004194;
$secondaryColor: #01b9ff;
$defaultColor: #333;
$commonColor: #fff;



$headingFontuse: 'Titillium Web', sans-serif;
$describeFontuse: 'Poppins', sans-serif;
$subheadingfont: 'Quicksand', sans-serif;



$colgrid-10: 10%;
$colgrid-20: 20%;
$colgrid-25: 25%;
$colgrid-30: 30%;
$colgrid-33: 33.33333%;
$colgrid-40: 40%;
$colgrid-50: 50%;
$colgrid-60: 60%;
$colgrid-70: 70%;
$colgrid-80: 80%;
$colgrid-90: 90%;
$colgrid-100: 100%;


$default-fontsize: 16px;
$font-big: 60px;
