<div class="home-section">
    <div class="slider-section">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="portion item">
                    <div class="content">
                        <h2>Design solutions for any media </h2>
                        <div class="clear"></div>
                        <div class="custom-button"><a href="">LET’S GET STARTED</a></div>
                    </div>
                    <img src="assets/images/home/slider1.jpg" alt="">
                </div>
              </div>

              <div class="carousel-item">
                <div class="portion item">
                    <div class="content">
                        <h2>Design solutions for any media </h2>
                        <div class="clear"></div>
                        <div class="custom-button"><a href="">LET’S GET STARTED</a></div>
                    </div>
                    <img src="assets/images/home/slider1.jpg" alt="">
                </div>
              </div>

              <div class="carousel-item">
                <div class="portion item">
                    <div class="content">
                        <h2>Design solutions for any media </h2>
                        <div class="clear"></div>
                        <div class="custom-button"><a href="">LET’S GET STARTED</a></div>
                    </div>
                    <img src="assets/images/home/slider1.jpg" alt="">
                </div>
              </div>
              
            
          </div>

    </div>
</div>
