@import "../../assets/css/variables.component.scss";
@import "../../assets/css/mixins.component.scss";
@import "../../assets/css/extend.component.scss";
.home-section{
    @extend .common;
    .slider-section{
        @extend .common;
        .portion{
            @extend .common; position: relative; height: 100vh; z-index: 1;
            img{
                @extend .common; height: 100%; @extend .pa; object-fit: cover;
            }
            &:before{
              width: 100%;  height: 100%; @extend .pa; background-color: rgba(0,0,0,.44); content: ""; z-index: 1;
            }
            .content{
                @extend .common; @extend .pa; top: auto; bottom: 235px; text-align: center; z-index: 2;
                h2{
                    color: $commonColor; font-size: $font-big; font-weight: 600; line-height: 70px; width: 75%; display: inline-block;
                }
                .custom-button{
                    margin-top: 50px;
                    a{ padding: 20px 45px; font-weight: 700; text-transform: uppercase; letter-spacing: 1px;}
                }
            }
        }
        .carousel-indicators{
            bottom: 175px;
            li{
                background-color: $commonColor; border: none; width: 8px; height: 8px; border-radius: 100%;
                &.active{
                    background-color: $primaryColor;
                }
            }
        }
    }
}





